/* Header.module.css */
.header {
    background-color: darkcyan; /* Deakin blue */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    height: 100px;
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
  